@charset "UTF-8";
:root {
  --theme-pink: #FF56AD;
  --theme-lpink: #FFDFF0;
  --theme-white: #FFF;
  --theme-green: #B1E384;
  --theme-lgreen: #DDFFBE;
  --theme-lime: #00BC87;
  --theme-llime: #B5E9DB;
  --theme-lgray: #231F204D;
  --theme-llgray: #F6F6F6;
  --theme-black: #231F20;
  --theme-lblue: #EFF5F7;
  --theme-lpurple: #EDD5FA;
  --theme-purple: #D071FF;
}

html {
  scrollbar-color: var(--theme-pink) var(--theme-lpink);
  scrollbar-width: auto;
}
html *::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-track,
html *::-webkit-scrollbar {
  border-radius: 90px;
}

body {
  background-color: var(--theme-lpink);
  font-family: "Onest", sans-serif;
}
body::-webkit-scrollbar-thumb, body::-webkit-scrollbar-track {
  border-radius: 90px;
}

@media (max-width: 1400px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}
.container {
  padding: 0;
}

.padding-20 {
  padding: 20px;
}

.padding-bottom-69 {
  padding-bottom: 69px;
}

.gap-0 {
  gap: 0 !important;
}

.gap-5 {
  gap: 5px;
}

.gap-6 {
  gap: 6px;
}

.radius-20 {
  border-radius: 20px;
}

.radius-30 {
  border-radius: 30px;
}

.radius-76 {
  border-radius: 76px;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.back-green {
  background-color: var(--theme-green);
}

.back-lgreen {
  background-color: var(--theme-lgreen);
}

.back-pink {
  background-color: var(--theme-pink);
}

.back-lpink {
  background-color: var(--theme-lpink);
}

.back-lblue {
  background-color: var(--theme-lblue);
}

.border-lgray {
  border-color: var(--theme-lgray) !important;
}

@media (max-width: 1400px) {
  .a-width-100-1400 {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .a-width-100-1200 {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .a-width-100-992 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .a-width-100-768 {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .a-width-100-576 {
    width: 100%;
  }
}
.illustration-box a {
  display: grid;
  grid-template-rows: max-content 43px;
  align-items: center;
  justify-items: center;
  gap: 21px;
  color: inherit;
  transition: 0.2s;
}
.illustration-box a > div {
  width: 264px;
  height: 279px;
  background: var(--illustration-box-color);
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  align-items: end;
}
.illustration-box a > div img {
  width: 100%;
  object-fit: contain;
}
.illustration-box a span {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  border-radius: 76px;
  border: 1px solid var(--theme-llgray);
}
.illustration-box a:hover {
  transform: scale(1.05);
}

@media (max-width: 1400px) {
  .illustration-box a > div {
    width: 244px;
    height: 259px;
  }
}
@media (max-width: 1200px) {
  .illustration-box a > div {
    width: 224px;
    height: 239px;
  }
}
@media (max-width: 992px) {
  .illustration-box a > div {
    width: 204px;
    height: 219px;
  }
}
@media (max-width: 768px) {
  .illustration-box a > div {
    width: 184px;
    height: 199px;
  }
}
@media (max-width: 576px) {
  .illustration-box a > div {
    width: 164px;
    height: 179px;
  }
}
@keyframes move {
  0%, 100% {
    transform: translate(0, 0);
  }
  12% {
    transform: translate(5px, -10px);
  }
  26% {
    transform: translate(15px, 15px);
  }
  30% {
    transform: translate(-5px, -10px);
  }
  44% {
    transform: translate(10px, -10px);
  }
  65% {
    transform: translate(-15px, 15px);
  }
  85% {
    transform: translate(15px, -10px);
  }
}
.illustration-box-circle {
  transition: 0.2s;
}
.illustration-box-circle.pink {
  --illustration-box-color-l: var(--theme-lpink);
  --illustration-box-color: var(--theme-pink);
}
.illustration-box-circle.green {
  --illustration-box-color-l: var(--theme-lgreen);
  --illustration-box-color: var(--theme-green);
}
.illustration-box-circle.lime {
  --illustration-box-color-l: var(--theme-llime);
  --illustration-box-color: var(--theme-lime);
}
.illustration-box-circle.purple {
  --illustration-box-color-l: var(--theme-lpurple);
  --illustration-box-color: var(--theme-purple);
}
.illustration-box-circle:nth-child(1) div svg {
  animation: move 30s infinite;
}
.illustration-box-circle:nth-child(2) div svg {
  animation: move 50s infinite;
}
.illustration-box-circle:nth-child(3) div svg {
  animation: move 40s infinite;
}
.illustration-box-circle:nth-child(4) div svg {
  animation: move 35s infinite;
}
.illustration-box-circle:nth-child(5) div svg {
  animation: move 55s infinite;
}
.illustration-box-circle:nth-child(6) div svg {
  animation: move 45s infinite;
}
.illustration-box-circle > a {
  display: grid;
  grid-template-rows: max-content;
  align-items: center;
  justify-items: center;
  gap: 24px;
  color: var(--theme-black) !important;
  padding-bottom: 12px;
}
.illustration-box-circle > a div {
  width: 168px;
  height: 168px;
  background: var(--illustration-box-color-l);
  border-radius: 119px;
  display: grid;
  align-items: end;
}
.illustration-box-circle > a div img {
  width: 100%;
  object-fit: contain;
}
.illustration-box-circle > a div svg {
  width: 100%;
  height: 100%;
}
.illustration-box-circle > a div svg > path {
  stroke: var(--illustration-box-color);
  fill: var(--illustration-box-color);
}
.illustration-box-circle > a span {
  width: 168px;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.6rem;
}
.illustration-box-circle:hover {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .illustration-box-circle a {
    gap: 20px;
  }
  .illustration-box-circle a > div {
    height: 128px;
  }
  .illustration-box-circle a span, .illustration-box-circle a > div {
    width: 128px;
  }
}
@media (max-width: 768px) {
  .illustration-box-circle {
    width: 100%;
  }
  .illustration-box-circle a {
    gap: 20px;
    grid-template-areas: "img a arrow";
  }
  .illustration-box-circle a > div {
    height: 128px;
    grid-area: img;
  }
  .illustration-box-circle a span, .illustration-box-circle a > div {
    font-size: 2rem;
    width: 128px;
  }
  .illustration-box-circle a:after {
    content: " ";
    grid-area: arrow;
    -webkit-mask: url("/momspace_v/assets/images/arrow.png") no-repeat 50% 50%;
    mask: url("/momspace_v/assets/images/arrow.png") no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: var(--illustration-box-color);
    height: 90px;
    width: 60px;
  }
}
@media (max-width: 576px) {
  .illustration-box-circle {
    width: 100%;
  }
  .illustration-box-circle a {
    gap: 20px;
  }
  .illustration-box-circle a > div {
    height: 128px;
  }
  .illustration-box-circle a span, .illustration-box-circle a > div {
    width: 128px;
  }
}
input:focus, textarea:focus, select:focus {
  outline: none;
}

.simple-box {
  padding: 51px 49px 49px 51px;
  position: relative;
}
.simple-box.extra-padding {
  padding-top: 65px;
}
.simple-box h1, .simple-box h2, .simple-box h3, .simple-box h4 {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 15px;
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 65%;
  margin: 0;
}
.simple-box h1 .title, .simple-box h2 .title, .simple-box h3 .title, .simple-box h4 .title {
  font-family: "Signika Negative", Arial;
  font-size: 3rem;
  color: var(--theme-pink);
}
.simple-box h1 .desc, .simple-box h2 .desc, .simple-box h3 .desc, .simple-box h4 .desc {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}
.simple-box h2 {
  font-size: 3rem;
}
.simple-box__flex-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 54px;
}
.simple-box__flex-list:not(.swiper-wrapper) {
  flex-wrap: wrap;
}
.simple-box__flex-list .illustration-box:nth-child(even) {
  --illustration-box-color: var(--theme-lgreen);
}
.simple-box__flex-list .illustration-box:nth-child(odd) {
  --illustration-box-color: var(--theme-llgray);
}
.simple-box__flex-list.short {
  padding-left: 51px;
  padding-right: 55px;
}
.simple-box__flex-list.small-padding {
  padding-top: 35px;
}
.simple-box__section {
  border-radius: 30px;
  background-color: var(--theme-white);
  width: 100%;
  padding: 28px 35px 65px 35px;
  position: relative;
}
.simple-box__section > h2 {
  font-size: 3rem;
  padding-top: 23px;
}
.simple-box__section > h3,
.simple-box__section > h4,
.simple-box__section > h5 {
  padding-top: 67px;
  max-width: 70%;
  font-weight: 600;
}
.simple-box__section > h3 {
  padding-top: 53px;
  padding-bottom: 11px;
}
.simple-box__section.right-illustration {
  display: grid;
  grid-template-columns: auto 596px;
  grid-template-rows: min-content max-content;
  gap: 0 51px;
  padding-top: 45px;
}
.simple-box__section.right-illustration .img-box {
  grid-row: 1/-1;
  grid-column: 2;
}
.simple-box__section.right-illustration .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.simple-box__section.right-illustration .text-box {
  padding-top: 51px;
}
.simple-box__section.right-illustration p {
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.simple-box__link-btn {
  position: absolute;
  right: 6px;
  top: 10px;
  padding: 20px 22px;
}

@media (max-width: 1600px) {
  .simple-box {
    padding: 51px 49px 49px 51px;
  }
  .simple-box__flex-list {
    gap: 12px;
  }
  .simple-box__flex-list .vertical-1600 {
    flex-direction: column;
  }
}
@media (max-width: 1400px) {
  .simple-box__flex-list {
    gap: 10px;
  }
  .simple-box__flex-list .vertical-1400 {
    flex-direction: column;
  }
  .simple-box .right-illustration {
    grid-template-columns: auto;
  }
  .simple-box .right-illustration .img-box {
    grid-row: auto;
    grid-column: 1;
  }
}
@media (max-width: 1200px) {
  .simple-box {
    padding: 41px 39px 39px 41px;
  }
  .simple-box__flex-list.vertical-1200 {
    flex-direction: column;
  }
  .simple-box__flex-list.short {
    padding-left: 41px;
    padding-right: 45px;
  }
  .simple-box .by-month .box.number {
    width: 32%;
  }
}
@media (max-width: 992px) {
  .simple-box {
    padding: 31px 29px 29px 31px;
  }
  .simple-box__flex-list.vertical-992 {
    flex-direction: column;
  }
  .simple-box__flex-list.short {
    padding-left: 21px;
    padding-right: 25px;
  }
  .simple-box__section > h2, .simple-box__section > h3, .simple-box__section > h4, .simple-box__section > h5 {
    max-width: 100%;
  }
  .simple-box__link-btn {
    position: static;
  }
}
@media (max-width: 768px) {
  .simple-box {
    padding: 21px 19px 19px 21px;
  }
  .simple-box__flex-list.vertical-768 {
    flex-direction: column;
  }
  .simple-box .by-month {
    gap: 8px;
  }
}
@media (max-width: 576px) {
  .simple-box {
    padding: 11px 9px 9px 11px;
  }
  .simple-box__flex-list.vertical-576 {
    flex-direction: column;
  }
  .simple-box .by-month {
    gap: 6px;
  }
}
.link-btn a {
  display: flex;
  justify-content: center;
  border: 1px solid var(--theme-pink);
  border-radius: 76px;
  padding: 13.5px 56px;
}

a.pink-arrow {
  color: var(--theme-pink);
}
a.pink-arrow:after {
  content: url("/momspace_v/assets/images/svg/VectorArrow.svg");
  margin-left: 8px;
}

.green-heart:after {
  content: url("/momspace_v/assets/images/svg/Vector.svg");
  position: relative;
  top: -2px;
  margin-left: 4px;
}

.img-heart {
  position: relative;
}
.img-heart:after, .img-heart:before {
  display: block;
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}
.img-heart:after {
  background-image: url("/../../momspace_v/assets/images/img-heart-1.png");
  left: -50px;
  top: 30px;
  animation: pulse 4s infinite;
}
.img-heart:before {
  z-index: 2;
  background-image: url("/../../momspace_v/assets/images/img-heart-2.png");
  bottom: -50px;
  right: 30px;
  animation: pulse 5s infinite;
}

.social {
  gap: 25px;
  color: var(--theme-lgray);
  align-items: center;
  display: inline-grid;
  grid-auto-flow: column;
}
.social > span {
  position: relative;
  text-align: center;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: min-content min-content;
  justify-items: center;
}
.social > span:after {
  display: block;
  position: relative;
  margin-left: 5px;
  object-fit: fill;
}
.social__likes:after {
  content: url("/momspace_v/assets/images/svg/hearth.svg");
  max-height: 17px;
}
.social__comments:after {
  content: url("/momspace_v/assets/images/svg/comments.svg");
  max-height: 20px;
}
.social__views:after {
  content: url("/momspace_v/assets/images/svg/views.svg");
  max-height: 22px;
}

.box {
  background-color: var(--theme-white);
  border: 1px solid var(--theme-pink);
}
.box.number {
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 76px;
  width: 74px;
  height: 53px;
  font-size: 1.5rem;
  color: var(--theme-pink);
}

@media (max-width: 1400px) {
  .box.number {
    width: 64px;
    height: 48px;
  }
}
@media (max-width: 1200px) {
  .box.number {
    width: 100%;
    height: 43px;
  }
}
.btn {
  padding: 7.5px 56px;
  background-color: var(--theme-pink);
  color: var(--theme-white);
}
.btn:hover {
  background-color: var(--theme-lpink);
  color: var(--theme-pink);
}

@media (max-width: 992px) {
  .btn {
    padding: 7px 36px;
  }
}
@media (max-width: 768px) {
  .btn {
    padding: 6.5px 21px;
  }
}
@media (max-width: 576px) {
  .btn {
    padding: 6px 15px;
  }
}
.articles-box.type-1 {
  display: grid;
  grid-template-columns: 481px 481px auto;
  gap: 28px;
  width: 100%;
  grid-template-areas: "a a colm" "a a colm" "search search colm";
}
.articles-box.type-1 .articles-colmn {
  grid-column: 3;
  grid-row: 0/-1;
  grid-area: colm;
}
.articles-box__search {
  grid-area: search;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 10px;
}

@media (max-width: 1500px) {
  .articles-box.type-1 {
    grid-template-columns: 50% 50%;
    grid-template-areas: "a a" "a a" "search search";
  }
  .articles-box.type-1 .articles-colmn {
    display: none;
  }
}
@media (max-width: 1200px) {
  .articles-box.type-1 {
    grid-template-columns: 100%;
    grid-template-areas: "a" "a" "search";
  }
  .articles-box.type-1 .article-card:nth-child(2n) {
    display: none;
  }
}
.simple-h-list h4 {
  font-weight: 600;
}
.simple-h-list li {
  list-style-type: none; /* Убираем маркеры */
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0.5;
}
.simple-h-list li a {
  color: inherit;
}
.simple-h-list ul {
  padding-left: 0; /* Сдвигаем список влево */
  display: grid;
  gap: 15px;
  padding-top: 35px;
}

.articles-colmn {
  width: 100%;
  min-width: 383px;
  background-color: var(--theme-lblue);
  border: none;
  padding: 46px 28px;
  display: grid;
  gap: 39px;
  grid-template-rows: 31px repeat(auto-fill, 275px);
  justify-items: center;
}
.articles-colmn h3 {
  display: block;
  font-weight: 400;
  font-size: 1.5rem;
}

.article-card {
  display: grid;
  grid-template-columns: auto 50%;
  border-color: var(--theme-lgray);
  padding: 22px;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas: "date social" "img img" "title title" "link link";
  gap: 22px;
}
.article-card .social {
  justify-self: end;
  align-self: end;
  grid-area: social;
}
.article-card__img {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 436px;
  height: 261px;
  grid-area: img;
}
.article-card__img span {
  position: absolute;
  bottom: 17px;
  left: 24px;
  color: var(--theme-white);
  font-weight: 400;
}
.article-card__img__filter {
  top: 0;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, var(--gadient-color) 100%);
}
.article-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-card__title {
  grid-area: title;
  font-size: 1.5rem;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.article-card__link {
  grid-area: link;
}
.article-card.lime {
  --gadient-color: var(--theme-lime);
}
.article-card.pink {
  --gadient-color: var(--theme-pink);
}
.article-card.black {
  --gadient-color: var(--theme-black);
}
.article-card.green {
  --gadient-color: var(--theme-green);
}
.article-card.small {
  grid-template-areas: "img img" "title title" "date link";
  border: none;
  font-size: 1rem;
  padding: 18px 20px;
  gap: 20px;
  min-height: 278px;
}
.article-card.small .social {
  display: none;
}
.article-card.small .article-card__img {
  width: 288px;
  height: 156px;
}
.article-card.small .article-card__img span, .article-card.small .article-card__img__filter {
  display: none;
}
.article-card.small .article-card__title {
  -webkit-line-clamp: 1;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 992px) {
  .article-card {
    padding: 18px;
  }
  .article-card__img {
    width: 370px;
    height: 221px;
  }
}
@media (max-width: 768px) {
  .article-card {
    padding: 14px;
  }
  .article-card__img {
    width: 314px;
    height: 187px;
  }
}
@media (max-width: 576px) {
  .article-card {
    padding: 14px;
  }
  .article-card__img {
    width: 266px;
    height: 158px;
  }
}
.footer {
  display: grid;
  grid-template-areas: "sections articles development сontact-btn" "sections articles development socials-list" "sections logo terms-link terms-link";
  background: #42515E;
  position: relative;
  overflow: hidden;
  padding: 70px 51px;
  color: var(--theme-white);
}
.footer:before {
  pointer-events: none;
  position: absolute;
  bottom: -10px;
  right: 0;
  content: url("/momspace_v/assets/images/svg/M.svg");
  z-index: 0;
}
.footer > * {
  z-index: 1;
}
.footer__sections {
  grid-area: sections;
}
.footer__articles {
  grid-area: articles;
}
.footer__development {
  grid-area: development;
}
.footer__сontact-btn {
  grid-area: сontact-btn;
  justify-self: end;
}
.footer__сontact-btn .btn {
  padding: 21px 100px;
}
.footer__socials-list {
  grid-area: socials-list;
  text-align: end;
  align-self: center;
}
.footer__socials-list h4 {
  padding-bottom: 17px;
}
.footer__socials-list .socials {
  gap: 12px;
}
.footer__logo {
  grid-area: logo;
  align-self: end;
}
.footer__terms-link {
  grid-area: terms-link;
  text-align: right;
  align-self: end;
}
.footer__terms-link a {
  color: var(--theme-pink);
  font-weight: 400;
  font-size: 1.5rem;
}

@media (max-width: 992px) {
  .footer {
    grid-template-areas: "sections articles" "sections logo" "сontact-btn  terms-link" "socials-list terms-link";
    gap: 5px;
  }
  .footer__development {
    display: none;
  }
  .footer__articles {
    text-align: end;
  }
  .footer__logo {
    text-align: end;
  }
  .footer__сontact-btn {
    justify-self: start;
    width: 100%;
  }
  .footer__сontact-btn .btn {
    align-self: start;
    padding: 0.5rem 1rem;
    width: 100%;
  }
  .footer__socials-list {
    text-align: start;
  }
  .footer__socials-list h4 {
    padding-bottom: 1rem;
  }
  .footer__terms-link {
    display: grid;
  }
}
.col-md-12,
.col-md-2,
.col-md-8 {
  padding: 0;
}

.row {
  margin: 0;
}

@media (min-width: 1200px) {
  .content-wrapper {
    max-width: 100%;
  }
}
@media (min-width: 1504px) {
  .content-wrapper {
    max-width: 1504px;
  }
}
.content-wrapper {
  background: var(--theme-white);
  margin: 0 auto;
}

input::placeholder {
  color: var(--theme-lgray);
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: relative;
  background-color: var(--theme-lpink);
  height: 15px; /* Высота скролла */
  border-radius: 15px;
  bottom: 0px;
  width: 20%;
  margin: 15px auto 0 auto;
}

.swiper-scrollbar-drag {
  background-color: var(--theme-pink);
}

.search-box {
  position: relative;
  border-radius: 131px;
  display: grid;
  align-items: center;
  margin: 0;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  gap: 11px;
  padding: 13.5px 56px;
  cursor: alias;
}
.search-box input, .search-box svg {
  position: relative;
  border: none !important;
}

@media (max-width: 992px) {
  .search-box {
    padding: 7px 36px;
    gap: 10px;
  }
  .search-box svg {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  .search-box {
    padding: 6.5px 21px;
    gap: 8px;
  }
  .search-box svg {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 576px) {
  .search-box {
    padding: 6px 15px;
    gap: 6px;
  }
  .search-box svg {
    width: 12px;
    height: 12px;
  }
}
#open-nav-menu {
  display: none;
}
#open-nav-menu:checked + div .middle {
  display: flex;
}

header .up {
  padding: 65px 51px 33px 51px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}
header .up .search-box {
  width: 88%;
  padding: 21px 31px;
  height: 60px;
  margin-left: 6%;
}
header .up .search-box input, header .up .search-box svg {
  bottom: 25%;
}
header .up .logo [fill="#FF56AD"] {
  animation: pulse 7s infinite;
}
header .up .logo [fill="#B1E384"] {
  animation: pulse 7s infinite;
}
header .up .socials {
  gap: 6px;
}
header .up .sandwich {
  display: none;
  cursor: pointer;
}
header .middle {
  background-color: var(--theme-green);
  padding: 0 51px;
}
header .middle .navbar-nav {
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
header .middle .navbar-nav .sandwich {
  width: 35px;
  height: 25px;
  padding: 18px 0 15px 0;
  cursor: pointer;
}
header .middle .navbar-nav .separator {
  position: relative;
  pointer-events: none;
}
header .middle .navbar-nav .separator:after {
  position: relative;
  display: block;
  content: "";
  width: 1px;
  height: 29px;
  background: var(--theme-white);
  bottom: -25%;
}
header .middle .navbar-nav .nav-item {
  height: 100%;
}
header .middle .navbar-nav .nav-item a {
  padding: 8px 0 15px 0;
}
header .middle .navbar-nav .nav-item:hover > ul.dropdown-menu {
  display: block !important;
  left: -32px;
  border: none;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  padding: 10px 33px;
}
header .middle .navbar-nav .nav-link {
  width: 100%;
  position: relative;
  bottom: 50%;
  padding: 0;
  color: var(--theme-black);
  font-size: 1.5rem;
  font-weight: 400;
}
header .middle .navbar-nav .dropdown-toggle::after {
  position: relative;
  margin-left: 18px;
  content: url("/momspace_v/assets/images/svg/Rectangle40544.svg");
  border: 0;
  left: -7px;
  bottom: -3px;
}
header .bottom {
  padding: 39px 53px;
  margin: 0;
  padding-bottom: 19px;
}
header .bottom .navbar-box {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
header .bottom .navbar {
  padding: 0;
}
header .bottom .navbar-nav {
  max-height: 24px;
  width: 100%;
  justify-content: space-between;
}
header .bottom .navbar-nav .nav-link {
  width: 100%;
  position: relative;
  padding: 0;
  color: var(--theme-black);
}

@media (max-width: 1400px) {
  header .up {
    padding: 35px 41px 23px 41px;
    align-items: start;
  }
}
@media (max-width: 1200px) {
  header .up {
    padding: 25px 31px 13px 31px;
    grid-template-columns: 60px 6fr 2fr;
    align-items: start;
  }
  header .up .logo [fill="#231F20"] {
    display: none;
  }
  header .middle .separator {
    display: none;
  }
  header .middle .nav-item a {
    padding: 2px 0 13px 0;
  }
}
@media (max-width: 992px) {
  body {
    padding-top: 83px;
  }
  header {
    overflow: visible;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    background: var(--theme-white);
  }
  header .up {
    padding: 15px 21px 13px 21px;
    grid-template-columns: min-content 50px auto max-content;
    align-items: start;
  }
  header .up .search-box {
    padding: 17px 25px;
    height: 50px;
    margin-left: 4%;
  }
  header .up .sandwich {
    display: grid;
    border: 1px solid var(--theme-black);
    margin-right: 20px;
    border-radius: 10px;
    padding: 7px;
    align-items: center;
    align-self: center;
  }
  header .up .logo [fill="#231F20"] {
    display: none;
  }
  header .up .logo svg {
    height: 50px;
    width: 145px;
  }
  header .middle {
    position: absolute;
    display: none;
    left: 0;
    z-index: 100;
    background: var(--theme-white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2666666667);
    overflow-y: auto;
    max-height: 80vh;
    padding: 0 21px;
  }
  header .middle .sandwich {
    display: none;
  }
  header .middle .collapse {
    display: grid;
  }
  header .middle .navbar-nav .nav-link {
    bottom: 0;
  }
  header .middle .navbar-nav .nav-link a {
    padding: 6px 0 12px 0;
  }
  header .bottom {
    position: absolute;
    right: -100%;
  }
  header .navbar-toggler {
    position: absolute;
    left: 100%;
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    padding-top: 78px;
  }
  header .up {
    padding: 15px 21px 13px 21px;
    grid-template-columns: min-content 45px auto max-content;
    align-items: start;
  }
  header .up .search-box {
    padding: 15px 20px;
    height: 45px;
    margin-left: 2%;
  }
  header .up .sandwich {
    margin-right: 15px;
    padding: 7px 5px;
  }
  header .up .logo [fill="#231F20"] {
    display: none;
  }
  header .up .logo svg {
    height: 45px;
    width: 110px;
  }
  .middle .navbar-nav .nav-link a {
    padding: 6px 0 10px 0;
  }
}
@media (max-width: 576px) {
  body {
    padding-top: 72px;
  }
  header .up {
    padding: 14px 20px 12px 20px;
    grid-template-columns: min-content 40px auto max-content;
  }
  header .up .sandwich {
    margin-right: 10px;
    padding: 7px 4px;
  }
  header .up .sandwich svg {
    width: 30px;
    height: 25px;
  }
  header .up .search-box {
    padding: 14px 17px;
    height: 40px;
    margin-left: 0;
  }
  header .up .logo [fill="#231F20"] {
    display: none;
  }
  header .up .logo svg {
    height: 40px;
    width: 100px;
  }
  .middle .navbar-nav .nav-link a {
    padding: 6px 0 8px 0;
  }
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.97);
  }
  60% {
    transform: scale(0.96);
  }
  90% {
    transform: scale(1.01);
  }
}
.socials a {
  transition: 0.3s;
}
.socials a svg {
  width: 60px;
  height: 60px;
}
.socials a:hover {
  transform: scale(1.2);
}
.socials a:hover svg * {
  transition: 0.2s;
}
.socials a:hover svg [fill="#FF56AD"] {
  fill: var(--theme-lpink);
}
.socials a:hover svg [fill=white] {
  fill: var(--theme-pink);
}

@media (max-width: 1200px) {
  .socials a svg {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 992px) {
  .socials a svg {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .socials a svg {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 576px) {
  .socials a svg {
    width: 40px;
    height: 40px;
  }
}
.trimestr {
  padding: 26px 23px;
}
.trimestr h5 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 30px;
}
.trimestr div {
  gap: 9px 5px;
}

@media (max-width: 1200px) {
  .trimestr {
    width: 100%;
  }
}
.content-wrapper {
  position: relative;
}

img.test {
  pointer-events: none;
  position: absolute;
  top: -1px;
  left: 0;
  opacity: 0.6;
  filter: grayscale(100%);
}

/*# sourceMappingURL=style.css.map */
